/*
	CSS - Generic
*/
 
body {
	font-family: Arial, "Liberation Sans";
 	font-size: 12pt;
 	background: #dddddd;
}

table {
	width: 100%;
	border: 1px;
}

th {
	border: 1px solid black;
	padding: 3px;
}

td {
	border: 1px solid black;
	padding: 3px;
}

h1 {
	font-size: 25;
	font-weight: 900;
}

h2 {
	font-size: 21;
	font-weight: 900;
}

h2 {
	font-size: 18;
	font-weight: 900;
}

/*
	CSS - Classes
*/
 
#page-root {
 	width: 900px;
 	margin: 0 auto;
 	background: #ffffff;
}

.backdrop {
	margin: 5px;
	background: #c5dac5;
}
 
.border-generic {
 	border: 1px solid #eeeeee;
 	border-radius: 8px;
}