<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	
	<body>
		<div class="menubar">
			<!-- Sorting -->
			<div class="menuentry">
				Sortieren nach
				<select id="sortmeth">
                    <option value="1">Nichts</option>
                    <option value="2">Name</option>
                    <option value="3">Anzahl</option>
                    <option value="4">Artikelnummer</option>
                </select>
			</div>
			
			<!-- Condition Type -->
			<div class="menuentry">
				Filtern nach
				<select id="filtermeth">
                    <option value="1">Nichts</option>
                    <option value="2">Jugendfreigabe</option>
                    <option value="3">Preis</option>
                </select>
			</div>
			
			<!-- Condition -->
			<div class="menuentry">
				Relation
				<select id="filterrel">
                    <option value="1">kleiner oder gleich</option>
                    <option value="2">größer oder gleich</option>
                    <option value="3">genau</option>
                </select>
			</div>
			<div class="menuentry">
				Menge
				<input id="filterval" type="number"/ value="0">
			</div>
			
			<div style="padding: 5px;">
				<p></p>
				<button id="submit">Anzeigen</button>
			</div>
			
			<div style="padding: 5px;">
				<p></p>
				<button id="reset">Filter zurücksetzen</button>
			</div>
			<div style="padding: 5px; position: absolute; right: 5px">
				<p><a href="../../index.php">Zurück zur Startseite</a></p>
			</div>
		</div>
		<hr>
		<div>
			<iframe src="../../resources/xslt/data2.xml" width="100%" height="500px"
			 id="xml_frame" name="xml_frame" scrolling="auto" frameborder="0">
    			<p>Besorge dir einen ordentlichen Browser, Spacko!</p>
            </iframe>
		</div>
	</body>
</html>