.menubar {
	display: flex;
	flex-direction: row;
	min-height: 50px;
}

.menuentry {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.inv {
	display: none;
}

.menubacklink {
	padding: 5px; position: absolute; right: 5px
}

.contenttable {
	border: 1px solid black;
}