<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	
	<body>
		<div class="menubar">
			<!-- Sorting -->
			<div class="menuentry">
				Sortieren nach
				<select id="sortmeth">
                    {% for items in sortCriteria %}
                        <option value="{{ loop.index }}">{{ sortCriteria[loop.index0] }}</option>
                    {% endfor %}
                </select>
			</div>
			
			<!-- Condition Type -->
			<div class="menuentry">
				Filtern nach
				<select id="filtermeth">
                    {% for items in filterCriteria %}
                        <option value="{{ loop.index }}">{{ filterCriteria[loop.index0] }}</option>
                    {% endfor %}
                </select>
			</div>
			
			<!-- Condition -->
			<div id="filterreldiv" class="menuentry inv">
				Relation
				<select id="filterrel">
                    {% for items in filterRelation %}
                        <option value="{{ loop.index }}">{{ filterRelation[loop.index0] }}</option>
                    {% endfor %}
                </select>
			</div>
			<div id="filtervaldiv" class="menuentry inv">
				Menge
				<input id="filterval" type="number" value="0">
			</div>
			
			<div style="padding: 5px;">
				<p></p>
				<button id="submit">Anzeigen</button>
			</div>
			
			<div style="padding: 5px;">
				<p></p>
				<button id="reset">Filter zurücksetzen</button>
			</div>
			<div class="menubacklink">
				<p><a href="../../index.php">Zurück zur Startseite</a></p>
			</div>
		</div>
		<hr>
		<div>
			<iframe src="{{ gamesSrc }}" width="100%" height="800px"
			 id="xml_frame" name="xml_frame" scrolling="auto" frameborder="0">
    			<p>Besorge dir einen ordentlichen Browser, Spacko!</p>
            </iframe>
		</div>
	</body>
</html>