<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

<xsl:template match="/">
  <html>
  <body>
  <h1>Spiele</h1>
  <p>Übungsseite zu XSL-Templates.</p>

  <table style="border: 1px solid black">
    <tr bgcolor="#9acd32">
        {% for item in columnList %}
        	<th>{{ item.getName }}</th>
        {% endfor %}
    </tr>
    <xsl:for-each select="games/game">
        {# Sort #}
        {% if sortCondition != "" %}
			<xsl:sort select="{{ sortCondition }}"/>
		{% endif %}
	    
	    {# Filter Start #}
	    {% if filterCondition != "" %}
	    	<xsl:if test="{{ filterCondition|raw }}">
	    {% endif %}
	    
	    {# Selected columns #}
	    <tr>
	    {% for item in columnList %}
			<td><xsl:value-of select="{{ item.getTag }}"/></td>
		{% endfor %}
		</tr>
	    
	    {# Filter End #}
	    {% if filterCondition != "" %}
	    	</xsl:if>
	    {% endif %}
    </xsl:for-each>
  </table>
  </body>
  </html>
</xsl:template>

</xsl:stylesheet>